<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <style>
  .box {
    padding: 100px 0;
    width: 400px;
    text-align: center;
    background: #ddd;
    margin: 20px;
    display: inline-block;
  }
  </style>
</head>

<body>

  <h1>hello vue :)</h1>

  <div id="app">

    <!--attribute binding-->
    <!--
      <a v-bind:href="url">best search engine ever</a>
    -->
    

    <div v-if="showBooks">
      <ul>
        <li v-for="element in books">
          <img :src="element.img" alt="element.title">
          <h3>{{ element.title }}</h3>
          <p>{{ element.author }}</p>
        </li>
      </ul>
    </div>

    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>



  <script src="app.js"></script>
  
</body>
</html>